html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Arial", sans-serif;
  text-align: center;
  margin: 0px;
  background-image: url(/img/tableLoading.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-color: #027339;
  box-shadow: 0 0 200px 100px #027339 inset;
  overflow: hidden;
}

.button {
  appearance: none;
  background-color: #312e2b;
  border: none;
  border-radius: 6px;
  box-shadow: 2px 2px 2px #171614;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 0px;
  position: relative;
  text-align: center;
  user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 90px;
}

.button:hover {
  background-color: #262522;
}

.button:active {
  background-color: #171614;
}

#progressBarDiv {
  position: fixed;
  margin: 100px 20px 20px;
  width: 118px;
}

#progressBarDecks {
  float: right;
  margin-top: 18.5px;
  height: 308px;
  width: 10px;
}

#myProgress {
  display: flex;
  margin: 0%;
  width: 100px;
  height: 300px;
  border: 3px black solid;
  background-color: transparent;
}

#myBar {
  align-self: flex-end;
  margin: 1px;
  width: 100px;
  height: 100%;
  background: repeating-linear-gradient(
    0deg,
    white,
    white 2px,
    transparent 1px,
    transparent 3px
  );
}

#chips {
  position: fixed;
  display: flex;
  height: 300px;
  bottom: -180px;
  margin-left: 10px;
}

.chips {
  margin: 10px;
  display: none;
}

.chips img {
  display: flex;
  margin-bottom: -100px;
  width: 93px;
}

#chipsOutline {
  display: none;
  position: fixed;
  margin-left: 10px;
  bottom: 10px;
  border-radius: 20px;
  outline: white solid 0px;
  box-shadow: inset 0px 0px 10px 1px white, 0px 0px 10px 1px white;
}

#hit,
#stand,
#split,
#double,
#surrender {
  display: none;
}

#basicStrategyCard {
  position: relative;
  text-align: end;
  margin-right: 20px;
  cursor: pointer;
}

th,
td {
  border: 0.5px solid rgb(0, 0, 0);
  width: 20px;
}

#basicStrategyCard table {
  font-size: 1px;
  width: 50px;
  position: fixed;
  top: 2%;
  right: 20px;
  overflow-x: hidden;
  background-color: #262522;
  color: white;
  text-align: center;
  border-spacing: 0px;
}

#countInput {
  display: none;
  width: 30px;
  color: white;
  background-color: #312e2b;
  border-style: hidden;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

#dealerHand {
  margin: auto;
  height: 165px;
  width: 506px;
}

#game img,
#dealerHand img,
#playerHand img {
  width: 100px;
  margin: 5px;
}

#playerHand {
  margin-top: 175px;
}

#hb1,
#hb2,
#hb3,
#hb4 {
  display: inline-block;
  margin: 10px;
}
#hb2,
#hb3,
#hb4 {
  display: none;
  margin: 10px;
}

#hb1 {
  margin: 10px;
}

#hand1,
#hand2,
#hand3,
#hand4 {
  margin: auto;
  height: fit-content;
  width: fit-content;
  border-radius: 4px;
}

img {
  -webkit-user-drag: none;
}

#endGameDiv {
  position: absolute;
  bottom: 50px;
  right: 50px;
}

#bestMoveScreen {
  position: absolute;
  height: 100%;
  width: 100%;
  display: none;
  background-color: hsla(0, 0%, 15%, 0.95);
  top: 0%;
  z-index: 1;
  margin: 0px;
}

#endGameScreen {
  position: absolute;
  height: 100%;
  width: 100%;
  display: none;
  background-color: hsla(0, 0%, 15%, 0.95);
  top: 0%;
  z-index: 1;
  margin: 0px;
}
#errors {
  color: white;
}

#bestMoveText {
  margin-top: 30%;
  font-size: 40px;
  font-weight: bold;
  color: white;
}

#cancleMove,
#goAgainstBestMove {
  margin-top: 10px;
  background-color: white;
  border: none;
  border-radius: 6px;
  box-shadow: 2px 2px 2px #171614;
  color: black;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  text-align: center;
  user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

#WLScreen {
  position: absolute;
  height: 100%;
  width: 100%;
  display: none;
  background-color: hsla(0, 0%, 15%, 0.95);
  top: 0%;
  z-index: 1;
  margin: 0px;
}

#WLText {
  margin-top: 30%;
  font-size: 10ch;
  font-weight: bold;
}

#WLAmount {
  font-size: 3ch;
  font-weight: bold;
}

#homeScreen,
#newGame {
  margin-top: 8px;
  background-color: white;
  border: none;
  border-radius: 6px;
  box-shadow: 2px 2px 2px #171614;
  color: #312e2b;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  padding: 6px 6px;
  position: relative;
  text-align: center;
  user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: hsla(0, 0%, 15%, 0.95);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  margin-top: 0px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

body #span {
  position: fixed;
  width: fit-content;
  font-size: 30px;
  cursor: pointer;
  text-align: left;
  margin: 0px 20px;
}

#mySidenav img {
  height: 50px;
}

@media only screen and (max-width: 1200px) {
  .chips img {
    height: 40px;
    width: 40px;
    margin-bottom: -43px;
  }
  #chips {
    bottom: -230px;
  }
  #progressBarDiv {
    margin: 20px 10px 10px;
    width: 86px;
    top: 20px;
  }
  #progressBarDecks {
    height: 206px;
  }
  #myProgress {
    height: 200px;
    width: 70px;
  }
  #game img,
  #dealerHand img,
  #playerHand img {
    width: 55px;
    margin: 5px;
  }
  #playerHand {
    margin-top: 0px;
  }
  #bet {
    margin-top: 5px;
  }
  .button {
    width: 75px;
    height: 30px;
  }
  body {
    box-shadow: 0 0 100px 50px #027339 inset;
  }
}
