AddType text/javascript .mjs

<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "https://card-count.com"
    Header set Access-Control-Allow-Methods "GET, POST, OPTIONS"
    Header set Access-Control-Allow-Headers "Content-Type, Authorization"
    Header set Cross-Origin-Opener-Policy "same-origin"
</IfModule>

# Enable Passenger

PassengerEnabled on
PassengerAppRoot /home/u517463155/domains/card-count.com
PassengerRuby /usr/bin/ruby # Replace with your Ruby path if different
