body {
  font-family: "Arial", sans-serif;
  text-align: center;
  margin: 20px;
  background-image: url(table3.jpeg);
  background-repeat: no-repeat;
  background-position-x: center;
}

button {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

div {
  margin-top: 10px;
}

#dealerHand {
  margin: auto;
  height: 360px;
  width: 506px;
}

#game img,
#dealerHand img,
#playerHand img {
  width: 100px;
  margin: 5px;
}

#playerHand,
#cards,
#count {
  margin-top: 20px;
}

#hand1,
#hand2,
#hand3,
#hand4 {
  margin: auto;
  height: fit-content;
  width: fit-content;
  border-radius: 4px;
}

/*#chips img {}*/

#count {
  color: red;
  text-align: left;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: hsla(0, 0%, 15%, 0.95);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

body #span {
  width: fit-content;
  font-size: 30px;
  cursor: pointer;
  text-align: left;
}

#mySidenav img {
  height: 50px;
}
